@model IEnumerable<RusaMiaChairmanBari.Models.C100TakaData>

@{
    ViewBag.Title = "Index";
}
<style>
    #ta {
        width: 22%;
    }
</style>
<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<table class="table table-striped table-bordered ">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameOfPaidMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th id="ta"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfPaidMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentDate)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-primary", @style = "color:white" })
            }
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger", @style = "color:white" })
            }
            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-default", @style = "color:black" })

        </td>
    </tr>
}

</table>
